# Pandas 描述性统计

有很多方法用来集体计算 DataFrame 的描述性统计信息和其他相关操作，其中大多数是 sum(),men() 等聚合行数，但其中一些， 如 sumsum() 产生一个相同大小的对象。一般来说，这些方法采用轴参数，就像 ndarray.{sum, std, ...}

In [1]:
import pandas as pd
import numpy as np

d = {'Name': pd.Series(['Tom', 'James', 'Ricky', 'Vin', 'Steve', 'Minsu', 'Jack', 'Lee', 'David', 'Gasper', 'Betina', 'Andres']),
     'Age': pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
     'Rating': pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}
df = pd.DataFrame(d)
df.head()

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed',)).History will not be written to the database.

   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20

In [8]:
# sum() 方法， 返回所请求轴的值得总和， 默认情况下，轴为索引 axis = 0
print(df[['Age','Rating']].sum())
print('--'* 30)
print(df.sum(axis=1))

Age       382.00
Rating     44.92
dtype: float64
------------------------------------------------------------
0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [22]:
# mean() 返回平均值
print(df.mean())

Age       31.833333
Rating     3.743333
dtype: float64

In [23]:
# std() 返回数字列的 Bressel 标准偏差
print(df.std())

Age       9.232682
Rating    0.661628
dtype: float64

## 描述性统计信息的函数

| 编号 | 函数 | 描述 |
| :--: | :--: | :--: |
| 1 | count() | 非空观测数量 |
| 2 | sum() | 所有值之和 |
| 3 | mean() | 所有值得平均值 |
| 4 | median() | 所有值得中位数 |
| 5 | mode() | 值得模值 |
| 6 | std() | 值得标准偏差 |
| 7 | min() | 所有值中的最小值 |
| 8 | max() | 所有值中的最大值 |
| 9 | abs() | 绝对值 |
| 10| prod() | 数组元素的乘积 |
| 11| cumsum() | 累计总和 |
| 12| cumprod() | 累计乘积 |

## describe() 函数是用来计算有关 DataFrame 列的统计信息摘要

In [25]:
df.describe()

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

该函数给出了平均值，标准差和IQR值，而且，函数排除字符列， 并给出关于数字列的摘要，include 是用于传递关于什么列需要考虑用于总结的必要信息的参数，默认是数字值.:

* object   - 汇总字符串列
* number   - 汇总数字列
* all     - 将所有列汇总在一起(不应该将其作为列表值传递)

In [26]:
df.describe(include=['object'])

         Name
count      12
unique     12
top     James
freq        1

In [29]:
df.describe(include='all') # 不是使用 include=['all']

              Age   Name     Rating
count   12.000000     12  12.000000
unique        NaN     12        NaN
top           NaN  James        NaN
freq          NaN      1        NaN
mean    31.833333    NaN   3.743333
std      9.232682    NaN   0.661628
min     23.000000    NaN   2.560000
25%     25.000000    NaN   3.230000
50%     29.500000    NaN   3.790000
75%     35.500000    NaN   4.132500
max     51.000000    NaN   4.800000