# Pandas 指南

## 选择器(Selection)

### DataFrames

使用行标签和值得条件

In [1]:
import pandas as pd
df = pd.DataFrame(
    {'AAA': [4, 5, 6, 7], 'BBB': [10, 20, 30, 40], 'CCC': [100, 50, -30, -50]}
)
df

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed',)).History will not be written to the database.

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [3]:
df[(df.AAA <= 6) & (df.index.isin([0, 2, 4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

使用 loc 面向标签切换和使用 iloc 面向位置切片

In [4]:
data = {'AAA': [4, 5, 6, 7], 'BBB': [10, 20, 30, 40], 'CCC': [100, 50, -30, -50]}
df = pd.DataFrame(data=data, index=['foo', 'bar', 'boo', 'kar'])
df

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [5]:
df['bar':'kar']

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [6]:
df.iloc[0:3]

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30

In [7]:
df.loc['bar':'kar']

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50