# Pandas 级联

Pandas 提供了各种工具(功能), 可以轻松地将 Series, DataFrame 和 Panel 对象组合在一起。

```python
pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False)
```
参数说明:

* objs - 这是一个 Series, DataFrame 或 Panel 对象的序列或映射
* axis - {0, 1, ....} 默认为 0, 这是连接的轴
* join - {'inner', 'outer'}, 默认 inner, 如何处理其他轴上的索引， 联合的外部和交叉的内部
* ignoer_index - 布尔值， 默认为 False, 如果指定为 True, 则不要使用连接轴上的索引值，结果轴将被标记为： 0, ...., n-1
* join_axes - 这是 Index 对象的列表， 用于其他 (n-1) 轴的特定索引，而不是执行内部/外部集逻辑

## 连接对象

concat() 函数完成了沿轴执行级联操作的所有重要工作

In [1]:
import pandas as pd

one = pd.DataFrame({
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id': ['sub1', 'sub2', 'sub4', 'sub6', 'sub5'],
    'Marks_scored': [98, 90, 87, 69, 78]},
    index=[1, 2, 3, 4, 5]
)
two = pd.DataFrame({
    'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
    'subject_id': ['sub3', 'sub4', 'sub3', 'sub6', 'sub5'],
    'Marks_scored': [89, 80, 79, 97, 88]},
    index=[1, 2, 3, 4, 5]
)
rs = pd.concat([one, two])
print(rs)

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub3            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88

In [2]:
# 假设想把特定的键与每个碎片的 DataFrame 关联起来，可以通过使用键参数来实现
rs = pd.concat([one, two], keys=['x', 'y'])
print(rs)

       Name subject_id  Marks_scored
x 1    Alex       sub1            98
  2     Amy       sub2            90
  3   Allen       sub4            87
  4   Alice       sub6            69
  5  Ayoung       sub5            78
y 1   Billy       sub3            89
  2   Brian       sub4            80
  3    Bran       sub3            79
  4   Bryce       sub6            97
  5   Betty       sub5            88

In [3]:
# 上面结果的索引是重复的，每个索引都重复，如果想要生成的对象必须遵循自己的索引，请将 ignore_index 设置为 True
rs = pd.concat([one, two], keys=['x', 'y'], ignore_index=True)
print(rs)

     Name subject_id  Marks_scored
0    Alex       sub1            98
1     Amy       sub2            90
2   Allen       sub4            87
3   Alice       sub6            69
4  Ayoung       sub5            78
5   Billy       sub3            89
6   Brian       sub4            80
7    Bran       sub3            79
8   Bryce       sub6            97
9   Betty       sub5            88

In [4]:
# 上面的索引完全改变，键也被覆盖，如果想要沿 axis=1 添加两个对象，则会添加新列
rs = pd.concat([one, two], axis=1)
print(rs)

     Name subject_id  Marks_scored   Name subject_id  Marks_scored
1    Alex       sub1            98  Billy       sub3            89
2     Amy       sub2            90  Brian       sub4            80
3   Allen       sub4            87   Bran       sub3            79
4   Alice       sub6            69  Bryce       sub6            97
5  Ayoung       sub5            78  Betty       sub5            88

## 使用附加连接

连接的一个有用的快捷方式是在 Series 和 DataFrame 实例的 append 方法，这个方法遭遇 concat() 方法， 沿着 axis=0 连接

In [5]:
rs = one.append(two)
print(rs)

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub3            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88

In [6]:
# append() 函数也可以带多个对象
print(one.append([two, one, two]))

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub3            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub3            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88

In [ ]:
j